.searchBox {
    background: rgba(22,24,35,0.06);
    border-radius: 92px;
    padding-left: 16px;
    position: relative;

    &:focus-within {
        border: 1px solid #ccc;
    }

    &::after {
        content:'';
        position: absolute;
        top: 50%;
        left: 308px;
        transform: translateY(-50%);

        height:28px;
        width: 1px;
        background: rgba(22,24,35,0.12);
    }
    input {
        font-weight: 400;
        font-size: 20px;
        line-height: 22px;

        padding: 12px 0;
        width: 292px;
        caret-color: #fe2c55;
        background: transparent;
        position: relative;
    }
    button.search {
        display: inline-block;
        padding:0 16px;
        border-bottom-right-radius: 92px;
        border-top-right-radius: 92px;
        height:47px;
        position: relative;
        top: 0px;
        
        &:hover {
            background: rgba(22,24,35,0.03);
        }
        .searchIcon {
            color: rgba(22, 24, 35, 0.34);
            font-weight: 300;
            font-size: 2rem;
            position: relative;
            top: -1px;
        }
    }
    button.timesCircle {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        left:276px;
        
        .timesCircleIcon {
            color: rgba(22, 24, 35, 0.34);
            font-weight: 300;
            font-size: 2rem;
            position: relative;
            top: -1px;
        }
    }
}

.searchView {
    position: absolute;
    top: 115%;
    left:0;
    width: 360px;
    background-color: #fff;
    box-shadow: 0 0 8px 2px #e6e3e3;
    padding-top: 10px;
    border-radius: 4px;
}
.searchResult {
    padding: 10px 20px;
    font-size: 1.6rem;
    cursor: pointer;
    .title {
        height:25px;
        font-size: 18px;
        line-height: 25px;
        color: rgb(22, 24, 35);
        display:inline-block;
        margin-right: 15px;
    }
    &:hover {
        background: rgba(22,24,35,0.03);
    }
    .desc{
        height:20px;
        font-weight: 400;
        font-size: 14px;
        line-height: 20px;
        color: rgb(22, 24, 35);
    }
}
.searchCheck {
    color: #fff;
    background-color: #20D5EC;
    border-radius: 50%;
}