$height : 60px;

.wrapper {
    height: $height;
    background: #fff;
    border-bottom: 1px solid rgba(34,90,89,0.2);
}
.content {
    height: $height;
    display: flex;
    justify-content: space-between;
    align-items:center;
    .logoWrapper img:first-child {
        margin-right: 4px;
        width: 28px;
    }
    .logoWrapper img:last-child {
        width: 97px;
        position: relative;
        top: -2px;
    }
   
    .ellipsisV {
        padding: 25px;
        cursor: pointer;
        display:inline-block;
        position: relative;
        .ellipsisVIcon {
            color: black;
            font-weight: 300;
            font-size: 2rem;
            position: relative;
            top: 2px;
        } 
        &:hover .support {
            display:block;
            opacity: 1;
            visibility: visible;
        }
        .support {
            position:absolute;
            top: 62px;
            right: 7px;
            width: 220px;
            background-color:#fff;
            box-shadow: 0 0 8px 2px #e6e3e3;
            border-radius: 4px;
            padding:10px 0;
            opacity: 0;
            visibility: hidden;
            transition: all 0.3s linear;
            font-size: 1.6rem;
            &::after {
                content:"";
                position:absolute;
                border:20px solid;
                border-color: transparent transparent #fff transparent;
                top: -33px;
                right: 2px;
            }
            .supportItem {
                height:40px;
                display:flex;
                align-items: center;
                &:hover {
                    background-color:#e6e3e3;
                }
                .icon {
                    margin:0 20px;
                }
                .text {
                    padding-right: 5px;
                }
            }
        } 
    }
    
}
