.wrapper {
    font-weight: 600;
    cursor: pointer;
    border-radius: 4px;
    font-size: 16px;
    line-height: 22px;
}
.primary {
    background-color: #fe2c55;
    color: #fff;
    &:hover {
        background: linear-gradient(0deg,rgba(0,0,0,0.06),rgba(0,0,0,0.06)),#fe2c55;
    }
}
.normal {
    background-color: rgba(0,0,0,0);
    color:black;
}
.border {
    border: 1px solid var(--primary--color);
    background-color: #fff;
    color: var(--primary--color);
}
.underline {
    &:hover {
        text-decoration:underline;
    }
}
.s {
    height:28px;
    min-width:88px;
}
.m {
    height:36px;
    min-width:100px;
}
.l {
    height:48px;
    min-width:208px;
}